body {
    background: #18b;
}

.buttons-panel {
    height: 90px;
    width: 600px;
    display: none;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    position: absolute;

    background: #18b;
}

.slider {
    width: 600px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border-top: solid 2px #60975E;

    position: absolute;
}

.pull-tab {
    display: block;
    position: absolute;
    width: 400px;
    height: 20px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    color: #fff;
    background: #60975E;

    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.buttons {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.space {
    position: relative;
    height: 22px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1000;
}

h1 {
    font-size: 6em;
    text-align: center;
}

.div-grid-container {
    width: 80%;
    height: 80vh;

    margin-right: auto;
    margin-left: auto;
    display: block;

    background-color: #60975E;

    font-size: 0;
}

.grid-cell {
    width: 6.25%;
    height: 6.25%;

    background-color: #2Bf888;
    display: inline-block;

    box-shadow: inset 1px 1px 0 #18b;
}

