.body {
    margin: 0 auto;
    padding: 0;
}

.buttons-panel {
    background: #ffffbd;
    height: 120px;
    width: 600px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-top: solid 2px #cc0000;
    width: 600px;
}

.pull-tab {
    display: block;
    position: relative;
    width: 400px;
    height: 20px;
    color: #fff;
    background: #c00;
    text-decoration: none;
    border-bottom-left-radius: 5px;

    -moz-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    margin-left: auto;
    margin-right: auto;

    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor: pointer;

    text-align: center;
}

.buttons {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
