.buttons-panel {
    height: 120px;
    width: 600px;
    display: none;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    position: absolute;

    background: #ffffbd;
}

.slider {
    width: 600px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border-top: solid 2px #cc0000;

    position: absolute;
}

.pull-tab {
    display: block;
    position: absolute;
    width: 400px;
    height: 20px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    color: #fff;
    background: #c00;

    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.buttons {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.space {
    position: relative;
    height: 22px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1000;
}

h1 {
    font-size: 6em;
    text-align: center;
}

.divGrid-container {
    width: 80%;
    height: 80vh;

    margin-right: auto;
    margin-left: auto;
    background-color: #385737;
}
